.noteContainer {
  width: 200px;
  height: 150px;
  padding: 10% 7%;
  margin: 3%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.taskDate {
  text-align: left;
  font-size: 12.5px;
  background-color: rgb(212, 212, 212);
  border-radius: 17px;
  width: 70px;
  height:max-content;
  padding:2px 5px;
}

.trashIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  color: rgb(139, 139, 139);
  cursor: pointer;
}
.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 130px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  text-align:left;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1%;
}

.deleteButton , .cancelButton , .cancelEditionButton , .doneButton{
  background-color: white !important;
  color: black !important;
  text-transform: none !important;
}
.deleteButton , .cancelEditionButton{
    color: red !important;
}

.dialogContent{
  width: 500px;
  height: 150px;
  padding: 20px;
  text-align:left;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.titleInput{
  font-size: larger;
}
.contentInput{
  font-size:small;
}
.contentInput , .titleInput {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  padding: 0;
  margin: 0;
}

.content {
  overflow: hidden;
  white-space: pre-wrap;
}
