.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgb(229, 228, 228) solid;
    padding: 0 0.7%;
    margin-bottom: 1%;
}
.title{
    font-size: 22px;
    font-weight: normal !important;
    margin-right: 1%;
}